@charset "UTF-8";

/* Layout */

#wrap{
    width: 1200px;
    margin: 0px auto;
}

#contour{
    background-color: gray;
    width: 1200px;
    height: 18px;

    text-align: center;
    color: whitesmoke;
    
}

#content-main{
    margin: 10px 0px;
}

footer{
    background-color: gray;
    margin: 10px auto;
    padding: 5px 0px;

    text-align: center;
    font-size: 12px;
}

#accession-area{
    /* border: 1px solid black; */

    display: flex;
    align-items: center;
    justify-content: center;

    height: 25px;
    text-align: right;

    margin: 7px 0px;
}
/* Layout end */

/* Header */
.site-icon{
    float: left;
    vertical-align: middle;
}

.site-icon

#header-site-icon{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.site-icon>div{
    margin: auto 0px;
}
/* Header end */

/* nav */
#head-menu{
    /* border: 1px solid black; */

    height: 100px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#head-menu>li{
    /* border: 1px solid black; */
    font-size: 40px;
    margin-left: 10px;
    float: left;
}

#head-menu>li>a{
    padding: 0px 20px;
}

/* nav end */

/* content */

/*** table ***/

table{
    width: 1000px;

    text-align: center;
    margin: 0px auto;
}
tr>td{
    border: 10px solid #333333;
}

#column-1-main{
    background-color: #E07A5F;
    width: 400px;
    height: 400px;
}

#column-2-main{
    background-color: #FFF8E1;
    width: 600px;
    height: 400px;
    vertical-align: middle;
}

#column-3-main{
    background-color: #FFF8E1;
    width: 400px;
    height: 50px;
    vertical-align: middle;
}

#column-4-main{
    background-color: #FFF8E1;
    width: 600px;
    height: 50px;
    vertical-align: middle;
}

#column-5-main{
    background-color: #FFF8E1;
    width: 400px;
    height: 1200px;
    vertical-align: middle;
}

#column-6-main{
    background-color: #FFF8E1;
    width: 600px;
    height: 1000px;
    vertical-align: middle;
}

#column-7-main{
    background-color: #4a90e2;
    width: 600px;
    height: 200px;
    vertical-align: middle;
}
/*** table end ***/
/* content end */

/* footer */
footer>#accession-area>a{
    /* border: 1px solid black; */
    text-align: center;
    padding: 0px 5px;
}

footer>div>select{
    background-color: gray;
    border: none;
}

#login-button:hover, #register-button:hover{
    color: whitesmoke;
}

/* footer end */

/* clearfix */
.clearfix{
    zoom:1;
}
.clearfix::before, .clearfix::after {
    display: block; content: ""; line-height: 0;
}
.clearfix::after {
    clear: both;
}
/* clearfix */