<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/personal css/personal-site-main.css">
        <link rel="stylesheet" href="../../assets/css/main-animation.css">
        <title>Little-project</title>
    </head>
    <body>
        <div id="wrap">
            <header class="clearfix">
                <a href="./personal-site-main-KOR.html">
                    <div class="site-icon">
                        <img id="header-site-icon" src="../../assets/img/STUDY-coding.png" width="100px" height="100px">
                    </div>
                </a>
                <nav>
                    <ol id="head-menu" class="clearfix">
                        <li>
                            <a id="HOME" href="" data-hover="포트폴리오">HOME</a>
                        </li>
                        <li>
                            <a id="CODE" href="" data-hover="HTML코드">CODE</a>
                        </li>
                        <li>
                            <a id="RESEARCH" href="" data-hover="코드연구">RESEARCH</a>
                        </li>
                        <li>
                            <a id="ABOUT-ME" href="" data-hover="자기소개">ABOUT ME</a>
                        </li>
                    </ol>
                </nav>
            </header>
            <div id="contour">
                <a href="">How to Coding</a>
            </div>
            <div id="content-main">
                <div>
                    <table>
                        <tr>
                            <td id="column-1-main">1</td>
                            <td id="column-2-main">
                                안녕하세요!!<br>
                                정윤영의 MySite에 오신 것을 환영합니다.
                                <br><br>
                                이 사이트는 웹 프로그래밍 실습과제 예제 사이트입니다.<br>
                                해당 웹사이트는 크게<br>
                                포트폴리오(HOME), 코드(CODE), 코드연구(RESEARCH), 자기소개(ABOUT-ME)<br>
                                로 구성되어 있으며, 각각의 페이지는 모두 영어(ENG), 한국어(KOR), 일본어(JPN)<br>
                                총 세 가지의 번역을 제공하고 있습니다.<br>
                                자바 수업 + 데이터베이스 수업 + 웹프로그래밍 수업<br>
                                배운 거 있는거 없는거 다 합쳐서 만들어 놓은 사이트 입니다.

                            </td>
                        </tr>
                        <tr>
                            <td id="column-3-main">HTML-5/CSS</td>
                            <td id="column-4-main">JAVA-SCRIPT</td>
                        </tr>
                        <tr>
                            <td id="column-5-main" rowspan="2">5</td>
                            <td id="column-6-main">6<img src="../../assets/img/studying_girl_with_pencil.png"></td>
                        </tr>
                        <tr>
                            <td id="column-7-main">7</td>
                        </tr>
                    </table>
                </div>
            </div>
            <footer>
                copyright ⓒ 2025 정윤영. All right reserved
                <div id="accession-area">
                    <a id="login-button" href="../personal access/personal-site-Login-KOR.html">login</a>
                    <a id="register-button" href="">register</a>
                </div>
                <div>
                    <label for="language">Language</label>
                    <select id="language" onchange="location= this.value">
                        <option>KOR</option>
                        <option value="personal-site-main-ENG.html">ENG</option>
                        <option>JPN</option>
                    </select>
                </div>
            </footer>
        </div>
    </body>
</html>