<!DOCTYPE html>
<html>
    <head lang="ko">
        <meta charset="UTF-8">
        <title>STUDY-coding</title>
        <link rel="stylesheet" href="../../assets/personal css/reset.css">
        <link rel="stylesheet" href="../../assets/personal css/my little site.css">
    </head>
    <body>
        <div id="wrap">
            <header>
                <div id="main_site_icon">
                    <a href="./personal plan main.html">
                        <img class="header-icon" src="../../assets/img/STUDY-coding.png" width="100px" height="100px">
                    </a>
                </div>
                    <ol id="head_menu">
                        <li id="HOME"><a href="">HOME</a></li>
                        <li id="CODE"><a href="">CODE</a></li>
                        <li id="RESEARCH"><a href="">RESEARCH</a></li>
                        <li id="ABOUT"><a href="">ABOUT</a></li>
                    </ol>
            </header>
        </div>
    </body>
</html>