<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/personal css/personal-site-main.css">
        <title>Little-project</title>
    </head>
    <body>
        <div id="wrap">
            <header class="clearfix">
                <a href="./personal-site-main.html">
                    <div class="site-icon">
                        <img id="header-site-icon" src="../../assets/img/STUDY-coding.png" width="100px" height="100px">
                    </div>
                </a>
                <nav>
                    <ol id="head-menu" class="clearfix">
                        <li>
                            <a id="HOME" rel="HOME" href="">HOME</a>
                        </li>
                        <li>
                            <a id="CODE" rel="CODE" href="">CODE</a>
                        </li>
                        <li>
                            <a id="RESEARCH" rel="RESEARCH" href="">RESEARCH</a>
                        </li>
                        <li>
                            <a id="ABOUT-ME" rel="ABOUT" href="">ABOUT ME</a>
                        </li>
                    </ol>
                </nav>
            </header>
            <content>
                <div id="accession-area">
                    <a href="">login</a>
                    <a href="">register</a>
                </div>
                <div>
                    <table border="1">
                        <tr>
                            <td id="column-1-main">1</td>
                            <td id="column-2-main">2</td>
                        </tr>
                        <tr>
                            <td id="column-3-main">3</td>
                            <td id="column-4-main">4</td>
                        </tr>
                        <tr>
                            <td id="column-5-main" rowspan="2">5</td>
                            <td id="column-6-main">6</td>
                        </tr>
                        <tr>
                            <td id="column-7-main">7</td>
                        </tr>
                    </table>
                </div>
            </content>
            <footer>
                footer
            </footer>
        </div>
    </body>
</html>