<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/board.css">
        <title>MySite</title>
    </head>
    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1><a href="../main/index.html">MySite</a></h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="../board/register.html">회원가입</a>
                    </li>
                </ul>
            </div>
            <div id="nav" class="clearfix">
                <ul>
                    <li>입사지원서</li>
                    <li><a href="../board/notice-board.html">게시판</a></li>
                    <li>겔러리</li>
                    <li>방명록</li>
                </ul>
            </div>
            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>게시판</h2>
                    <ol>
                        <li class="board-menu"><a href="./notice-board.html">일반게시판</a></li>
                        <li class="board-menu"><a href="">댓글게시판</a></li>
                    </ol>
                </div>
                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h2>일반게시판</h2>
                        <ol>
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ol>
                        <br><br>게시판리스트
                    </div>
                    <div class="board-search-menu">
                        <input  type="text">
                        <button>검색</button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>글쓴이</th>
                                <th>조회수</th>
                                <th>작성일</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>123</td>
                                <td>게시판 게시글입니다</td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2025-04-09</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>게시판 게시글입니다</td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2025-04-09</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>게시판 게시글입니다</td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2025-04-09</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>게시판 게시글입니다</td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2025-04-09</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>게시판 게시글입니다</td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2025-04-09</td>
                                <td>[삭제]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="footer">
                <p>
                    copyright ⓒ 2025 정윤영. All right reserved
                </p>
            </div>
        </div>
    </body>
</html>