<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/board.css">
        <title>MySite</title>
    </head>
    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1><a href="../main/index.html">MySite</a></h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>
            <div id="nav" class="clearfix">
                <ul>
                    <li>입사지원서</li>
                    <li><a href="../board/notice-board.html">게시판</a></li>
                    <li>겔러리</li>
                    <li>방명록</li>
                </ul>
            </div>
            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>회원</h2>
                    <ol>
                        <li class="board-menu"><a href="./notice-board.html">회원정보</a></li>
                        <li class="board-menu"><a href="">로그인</a></li>
                        <li class="board-menu"><a href="">회원가입</a></li>
                    </ol>
                </div>
            </div>
            <div id="content_register">
                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h2>회원가입</h2>
                        <ol>
                            <li>홈</li>
                            <li>회원</li>
                            <li>회원가입</li>
                        </ol>
                        <br><br>게시판리스트
                    </div>
            </div>
            <div id="footer">
                <p>
                    copyright ⓒ 2025 정윤영. All right reserved
                </p>
            </div>
        </div>
    </body>
</html>