@charset "UTF-8";

div{
    border: 1px solid black;
}

.header-icon{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.site-icon{
    float: left;
    vertical-align: middle;
}

.site-icon>div{
    margin: auto 0px;
}

/* clearfix */
.clearfix{
    zoom:1;
}
.clearfix::before, .clearfix::after {
    display: block; content: ""; line-height: 0;
}
.clearfix::after {
    clear: both;
}
/* clearfix */