@charset "UTF-8";



/*********************** 레이아웃 ***********************************/
/* body, div, ul, li, a{
    border: 1px solid black;
} */

body{
    font-family: "맑은 고딕";
    font-size: 12px;
    color: black;
}

#wrap{
    width: 1000px;
    margin: 0 auto;
}

#header{
    /* background-color: #add8e6; */
    padding: 10px 0px 10px 0px;
}

#nav{
    background-color: #e6e6fa;
    padding: 10px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#content{
    /* background-color: #f5f5dc; */
    padding: 30px 30px
}



#footer{
    background-color: #e6e6fa;
    text-align: center;
    padding: 10px 0px;
}

#content2 #aside{
    width: 180px;
    float: left;

}

#content2 #main{
    width: 800px;
    float: left;
}
/************************* 레이아웃end ********************************/


/********************* 헤더관련 ************************************/
#header>h1{
    font-size: 35px;
    color: #79b30b;
    font-weight: bold;

    float: left;
}

#header ul{
    float: right;
}

#header ul>li{
    border: 1px solid black;
    border-radius: 3px;
    background-color: #d3d3d3;
    margin-left: 10px;
    padding: 3px 5px;
    

    float: left;
}
/************************* 헤더관련end *****************************/

/*************************nav관련****************************/
#nav>ul>li{
    float: left;
    width: 248px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}

/**************************content-main************************/
#profile{
    width: 300px;
    float: left;
    margin-right: 30px;
}

#greeting-box{
    border: none;
    float: left;
}

#greeting-box> .greeting{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px
}

.introduce, .end{
    font-size: 15px;
}
/**************************content-main end**************************/

/********************content2*************************/


#aside{
    margin-top: 20px;
}

#aside>h2{
    width: 180px;
    height: 40px;
    background-color: #e6e6fa;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.board-menu{
    border: 1px solid gray;
    border-radius: 5px;

    width: 168px;
    height: 20px;

    font-size: 15px;
    padding: 10px 0px 10px 10px;
    margin: 5px 0px;
}

#main{
    width: 800px;
    margin: 30px 0px 0px 20px;
}

#main>#main-head{
    width: 800px;
}

#main>#main-head>h2{
    float: left;
    font-size: 18px;
    font-weight: bold;
}

#main ol{
    float: right;
}

#content2 .order-float>li{
    float: left;
}

#main ol>li{
    /* border: 1px solid black; */
    float: left;
    color: gray;
}

#main ol>li::after{
    content: ">";
    padding-left: 5px;
}

#main ol>li:last-child::after{
    content: "";
}

.board-search-menu{
    margin-top: 5px;
    margin-bottom: 3px;
    float: right;
}

table{
    width: 800px;
    font-size: 15px;
}

thead>tr>th{
    background-color: #e6e6fa;
    padding: 10px 0px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    font-weight: bold;
    text-align: center;
}

#main>table td{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}
/*******************content2 end************************/

/*************************footer*******************************/

/*************************footer end***************************/


/* clearfix */
.clearfix{
    zoom:1;
}
.clearfix::before, .clearfix::after {
    display: block; content: ""; line-height: 0;
}
.clearfix::after {
    clear: both;
}