<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/my little site.css">
        <title>Little-project</title>
    </head>
    <body>
        <div id="wrap">
            <header class="clearfix">
                <a href="./my little site.html">
                    <div class="site-icon">
                        <img class="header-icon" src="../../assets/img/STUDY-coding.png" width="100px" height="100px">
                        <div>STUDY-CODING</div>
                    </div>
                </a>
            </header>
            <nav>
                nav
            </nav>
            <content>
                content
            </content>
            <footer>
                footer
            </footer>
        </div>
    </body>
</html>