<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Little-project</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/main-animation.css">
        <link rel="stylesheet" href="../../assets/personal css/personal-site-main.css">
    </head>
    <body>
        <div id="wrap">
            <header class="clearfix">
                <a href="./personal-site-main-ENG.html">
                    <div class="site-icon">
                        <img id="header-site-icon" src="../../assets/img/STUDY-coding.png" width="100px" height="100px">
                    </div>
                </a>
                <nav>
                    <ol id="head-menu" class="clearfix">
                        <li>
                            <a id="HOME" href="" data-hover="PORTFOLIO">HOME</a>
                        </li>
                        <li>
                            <a id="CODE" href="" data-hover="HTML-CODE">CODE</a>
                        </li>
                        <li>
                            <a id="RESEARCH" href="" data-hover="RES-CODE">RESEARCH</a>
                        </li>
                        <li>
                            <a id="ABOUT-ME" href="" data-hover="INTRODUCE">ABOUT ME</a>
                        </li>
                    </ol>
                </nav>
            </header>
        </div>
    </body>
</html>