<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href="../../assets/personal css/reset.css">
        <link rel="stylesheet" href="../../assets/personal css/personal-site-main.css">
        <link rel="stylesheet" href="../../assets/personal css/personal-site-register.css">
        <title>Little-project: Register</title>
    </head>
    <body>
        <div id="wrap">
            <header>
                <div>
                    <a href="../personal plan/personal-site-main-KOR.html">
                        <img src="../../assets/img/STUDY-coding.png" width="100px" height="100px">
                    </a>
                </div>
                <div id="contour"></div>
            </header>
            <div id="content-register">
                <div class="register">회원가입</div>
                    <div id="register-1">
                        <input type="text" placeholder="아이디">
                        <input type="password" placeholder="비밀번호">
                    </div>
                    <div id="register-2">
                        <input type="text" placeholder="이름(닉네임)">
                        <input type="text" placeholder="생년월일">
                    </div>
                    <div id="register-3">
                        <select>
                            <option>이동통신사</option>
                            <option>SKT</option>
                            <option>LGU+</option>
                            <option>KT</option>
                        </select>
                        <input type="text" placeholder="휴대전화번호">
                    </div>
                    <img id="Im-not-robot-1" src="../../assets/img/Im not robot-1.png">
                    <div id="register-button">
                        <a href="./personal-site-Login-KOR.html">회원가입</a>
                    </div>
                </div>
            </div>
            <footer>
                copyright ⓒ 2025 정윤영. All right reserved
                <div>
                    <label for="language-register">Language</label>
                    <select id="language-register" onchange="location= this.value">
                        <option>KOR</option>
                        <option value="personal-site-register-ENG.html">ENG</option>
                        <option>JPN</option>
                    </select>
                </div>
            </footer>
        </div>
    </body>
</html>

회원가입창

